<a href="https://colab.research.google.com/github/shruti-misra/CSE-512-data-visualization-projects-/blob/main/CSE_512_Assignment_1_Seasonal_Sunshine_Patterns_in_the_US.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import relevant libraries 
import pandas as pd
import altair as alt

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
#Import sunshine data from the Data folder
data = pd.read_csv('gdrive/My Drive/Grad School-Files/CSE 512/Data/sunshine.csv')
data

       city         lon        lat month  monthnum  sunshine
0   Chicago  -87.623177  41.881832   Jan         0       135
1   Chicago  -87.623177  41.881832   Feb         1       136
2   Chicago  -87.623177  41.881832   Mar         2       187
3   Chicago  -87.623177  41.881832   Apr         3       215
4   Chicago  -87.623177  41.881832   May         4       281
..      ...         ...        ...   ...       ...       ...
67  Seattle -122.335167  47.608013   Aug         7       281
68  Seattle -122.335167  47.608013   Sep         8       221
69  Seattle -122.335167  47.608013   Oct         9       142
70  Seattle -122.335167  47.608013   Nov        10        72
71  Seattle -122.335167  47.608013   Dec        11        52

[72 rows x 6 columns]

In [4]:
#Look at the longitudinal information, which will come in handy later to create the visualization

longitude = [data[data['city'] == 'New York']['lon'].unique()[0], data[data['city'] == 'Miami']['lon'].unique()[0], 
             data[data['city'] == 'Chicago']['lon'].unique()[0], data[data['city'] == 'Houston']['lon'].unique()[0],
             data[data['city'] == 'Seattle']['lon'].unique()[0], data[data['city'] == 'San Francisco']['lon'].unique()[0]]
longitude

[-73.935242, -80.191788, -87.623177, -95.358421, -122.335167, -122.446747]

In [5]:
#Categorize months into seasons

winter = ['Dec', 'Jan', 'Feb']
spring = ['Mar', 'Apr', 'May']
summer = ['Jun', 'Jul', 'Aug']
fall =   ['Sep', 'Oct', 'Nov']

In [6]:
#Function to compute the average sunshine in a season 

def get_avg_sunshine(data, season):
  data_season = data[data["month"].isin(season)]
  return data_season['sunshine'].mean()

In [7]:
#Compute average seasonal hours of sunshine for each of the 6 major cities

Seattle = data[data['city'] == 'Seattle']
Seattle_fall = get_avg_sunshine(Seattle, fall)
Seattle_win = get_avg_sunshine(Seattle, winter)
Seattle_spr = get_avg_sunshine(Seattle, spring)
Seattle_sum = get_avg_sunshine(Seattle, summer)

Chicago = data[data['city'] == 'Chicago']
Chicago_fall = get_avg_sunshine(Chicago, fall)
Chicago_win = get_avg_sunshine(Chicago, winter)
Chicago_spr = get_avg_sunshine(Chicago, spring)
Chicago_sum = get_avg_sunshine(Chicago, summer)

Houston = data[data['city'] == 'Houston']
Houston_fall = get_avg_sunshine(Houston, fall)
Houston_win = get_avg_sunshine(Houston, winter)
Houston_spr = get_avg_sunshine(Houston, spring)
Houston_sum = get_avg_sunshine(Houston, summer)

Miami = data[data['city'] == 'Miami']
Miami_fall = get_avg_sunshine(Miami, fall)
Miami_win = get_avg_sunshine(Miami, winter)
Miami_spr = get_avg_sunshine(Miami, spring)
Miami_sum = get_avg_sunshine(Miami, summer)

NY = data[data['city'] == 'New York']
NY_fall = get_avg_sunshine(NY, fall)
NY_win = get_avg_sunshine(NY, winter)
NY_spr = get_avg_sunshine(NY, spring)
NY_sum = get_avg_sunshine(NY, summer)

SF = data[data['city'] == 'San Francisco']
SF_fall = get_avg_sunshine(SF, fall)
SF_win = get_avg_sunshine(SF, winter)
SF_spr = get_avg_sunshine(SF, spring)
SF_sum = get_avg_sunshine(SF, summer)

In [8]:
#Create a new dataframe with cities and seasons

seasons = pd.DataFrame({
    'city': ['Seattle', 'Seattle', 'Seattle', 'Seattle','Chicago', 'Chicago', 'Chicago', 'Chicago',
             'Miami', 'Miami', 'Miami', 'Miami','Houston', 'Houston', 'Houston', 'Houston',
             'New York', 'New York', 'New York', 'New York','San Francisco', 'San Francisco', 'San Francisco', 'San Francisco'],

    'season': ['Winter', 'Spring', 'Summer', 'Fall','Winter', 'Spring', 'Summer', 'Fall',
               'Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall', 
               'Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall'],

    'sunshine': [Seattle_win, Seattle_spr, Seattle_sum, Seattle_fall,
                 Chicago_win, Chicago_spr, Chicago_sum, Chicago_fall,
                 Miami_win, Miami_spr, Miami_sum, Miami_fall,
                 Houston_win, Houston_spr, Houston_sum, Houston_fall,
                 NY_win, NY_spr, NY_sum, NY_fall,
                 SF_win, SF_spr, SF_sum, SF_fall]
})

In [9]:
#Round the average hours of sunshine to two decimal places for ease of visualization

seasons['sunshine'] = seasons['sunshine'].round(decimals = 1)
seasons

             city  season  sunshine
0         Seattle  Winter      76.3
1         Seattle  Spring     212.7
2         Seattle  Summer     287.0
3         Seattle    Fall     145.0
4         Chicago  Winter     125.7
5         Chicago  Spring     227.7
6         Chicago  Summer     304.0
7         Chicago    Fall     177.3
8           Miami  Winter     219.3
9           Miami  Spring     273.7
10          Miami  Summer     260.3
11          Miami    Fall     214.3
12        Houston  Winter     143.7
13        Houston  Spring     223.7
14        Houston  Summer     291.0
15        Houston    Fall     219.3
16       New York  Winter     160.0
17       New York  Spring     239.3
18       New York  Summer     287.3
19       New York    Fall     205.7
20  San Francisco  Winter     167.7
21  San Francisco  Spring     282.0
22  San Francisco  Summer     300.7
23  San Francisco    Fall     233.0

In [10]:
# Visualization without text

heatmap = alt.Chart(seasons).mark_rect().encode(
    alt.X('season:N', sort=["winter", "spring", "summer", "fall"]),
    alt.Y('city:N', sort=["New York", "Miami", "Chicago", "Houston", "Seattle", "San Francisco"]),
    alt.Color('sunshine:Q', scale = alt.Scale(scheme = 'Inferno'), legend=alt.Legend(title="Average hours of sunshine"))
).properties(
    title = 'Average Seasonal Sunshine Patterns in 6 Major U.S Cities',
    width = 500,
    height = 500
).configure_axis(
    labelFontSize=15,
    titleFontSize=15
).configure_title(fontSize=15, anchor="middle").configure_legend(
    gradientLength=200,
    gradientThickness=30,
titleFontSize=10,
labelFontSize=10
)

heatmap

alt.Chart(...)

In [11]:
# Visualization with text

heatmap = alt.Chart(seasons).mark_rect().encode(
    alt.X('season:N', sort=["winter", "spring", "summer", "fall"]),
    alt.Y('city:N'),
    alt.Color('sunshine:Q', scale = alt.Scale(scheme = 'Inferno'), legend=alt.Legend(title="Average hours of sunshine"))
)

text = heatmap.mark_text().encode(
    text = 'sunshine:Q',
    color=alt.condition(
        alt.datum.sunshine > 250,
        alt.value('black'),
        alt.value('white')
    )
) 

(heatmap + text).properties(
    title = 'Average Seasonal Sunshine Patterns in 6 Major U.S Cities',
    width = 500,
    height = 500
).configure_axis(
    labelFontSize=15,
    titleFontSize=15
).configure_title(fontSize=20, anchor="middle").configure_legend(
    gradientLength=200,
    gradientThickness=30,
titleFontSize=10,
labelFontSize=10
)

alt.LayerChart(...)